<html>
    <style>
        body { width: 30em; margin: 4em; font-family: Arial; line-height: 1.5em; }
        .review { border-left: 5px solid grey; padding-left: 1em; font-style: italic; }
    </style>
    <body>
        <h1>classic17</h1>
        <small>Part of the MSTNN (Minecraft Servers That Nobody Needs) association.</small>
        <p>classic17 is a Minecraft Classic server that hosts version c0.0.17a, the first found version of Minecraft that has multiplayer.</p>
        <p>See what critics have to say:</p>
        <div class="review">
            <p>WHY DID YOU PUT ALL OF THE FUCKING CSS IN THE TEMPLATE WHAT THE HELL IS THE MATTER WITH YOU</p>
            <b>-2hats</b>
        </div>
        <div class="review">
            <p>Worst website of ever</p>
            <b>- Djingle Fingleberries</b>
        </div>
    </body>
<html>